# ===================================
# Python bytecode
# ===================================

__pycache__/
*.py[cod]
*$py.class

# ===================================
# Build & Packaging
# ===================================

build/
dist/

*.egg-info/
.eggs/

# Your specific folder
src/*.egg-info/

# ===================================
# Virtual environments
# ===================================

.venv/
venv/
env/
ENV/

# ===================================
# Cache folders
# ===================================

_cache/
.cache/

# ===================================
# Testing / coverage
# ===================================

.pytest_cache/
.coverage
htmlcov/

# ===================================
# Editor settings
# ===================================

.vscode/
.idea/

# ===================================
# OS junk files
# ===================================

.DS_Store
Thumbs.db
desktop.ini

# ===================================
# Logs / temp files
# ===================================

*.log
*.tmp
*.temp

# ===================================
# Packaging outputs
# ===================================

*.whl
*.tar.gz
publish.sh
.pypirc